body {
  background-color: grey;
  width: 190px;
  height: 230px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 8px;
}

h1 {
  color: aliceblue;
  font-family: "URW Gothic", sans-serif;
  font-weight: lighter;
  letter-spacing: 5px;
}

.textOutput {
  color: aliceblue;
  font-family: "URW Gothic", sans-serif;
}

.textInput {
  width: 180px;
  padding: 4px;
}